@using MvcApp.Models
@model Student

<h2>Add student</h2>

<p>
    Id group: @ViewData["groupId"]
</p>

<form asp-action="CreateStudent" asp-controller="Home" asp-route-group_id="@ViewData["groupId"]" method="post">
    <p>
        <label asp-for="FIRST_NAME">First name:</label>
        <input type="text" asp-for="FIRST_NAME" />
    </p>
    <p>
        <label asp-for="LAST_NAME">Last name:</label>
        <input type="text" asp-for="LAST_NAME" />
    </p>
    <p>
        <input type="submit" value="SAVE" />
    </p>
    <p>
        <input type="button" value="CANCEL" onclick="location.href='@Url.Action("StudentsOfGroup", "Home", new { id = ViewData["groupId"] })'" />
    </p>
</form>