@using MvcApp.Models
@model Course

<h2>Edit course</h2>

<form asp-action="EditCourse" asp-controller="Home" asp-route-course_id="@Model.COURSE_ID" method="post">
    <p>
        <label asp-for="NAME">NAME:</label>
        <input type="text" asp-for="NAME" />
    </p>
    <p>
        <label asp-for="DESCRIPTION">DESCRIPTION:</label>
        <input type="text" asp-for="DESCRIPTION" />
    </p>
    <p>
        <input type="submit" value="SAVE" />
    </p>
    <p>
        <input type="button" value="CANCEL" onclick="location.href='@Url.Action("Index", "Home")'" />
    </p>
</form>